body{
    background-image: url('https://media.giphy.com/media/xUOwGcu6wd0cXBj5n2/giphy.gif');
    background-size: cover;
}

h1{
    margin-left: 20px;
    color: darkmagenta;    
}

h1 span{
    color: violet;
}


.container{
    color: white;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}